/* .separator {
    width: 100%;
    margin: 20px auto 15px;
    position: relative;
    height: 1px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
  }
  
  .separator:after {
    height: 1px;
    background: #e8e8e8;
    background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    left: 0;
  }

  #footer.dark .separator:after {
    background: #505050;
    background: -moz-linear-gradient(left, #222222 0%, #505050 35%, #505050 70%, #222222 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #222222), color-stop(35%, #505050), color-stop(70%, #505050), color-stop(100%, #222222));
    background: -webkit-linear-gradient(left, #222222 0%, #505050 35%, #505050 70%, #222222 100%);
    background: -o-linear-gradient(left, #222222 0%, #505050 35%, #505050 70%, #222222 100%);
    background: -ms-linear-gradient(left, #222222 0%, #505050 35%, #505050 70%, #222222 100%);
    background: linear-gradient(to right, #222222 0%, #505050 35%, #505050 70%, #222222 100%);
  } */

  /* .dotted {
    border-bottom: 1px dotted grey;
		margin-bottom:1px;
  } */
  .pricelist div{
    height:1.5em;
  }

  .pricelist .left,.right{
    padding:1px; /*0.5em;*/
    background:#fff;
    float:right;
  }
  .pricelist .left{
    float:left;
    clear:both;
  }

  .pricelist .dotted{
    border-bottom: 1px dotted grey;
    margin-bottom:1px;
  }

  .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-indicators [data-bs-target] {
    background-color: #fb0404;
  }

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

  /* JQuery Validate Error styling */
  .error {
    color: var(--bs-w-red);
    font-size: smaller;
  }

  /* Animations for Home Screen - Navbar + Carousel Pations */
  .fade-in-Header {
    animation: fadeIn 3s;
  }

  .fade-in-Sub {
      animation: fadeIn 5s;
  }

  .fade-in-border {
      animation: fadeInBorder 6s;
  }

  .fade-in-Nav {
      animation: fadeIn 7s;
  }

  .fade-in-line {
      animation: fadeIn 9s ease-in-out;
  }

@keyframes fadeInBorder {
    0% { border-color: transparent;
        opacity: 0;
        color: transparent;
        background-color: transparent;
        border-top: 0px dashed transparent;
        }
    100% {border-color: #fff;
        opacity: 1;
        color: #fff;
        background-color: #fff;
        border-top: 1px solid #fff;
        }
}

@-moz-keyframes fadeInBorder {
  0% { border-color: transparent;
        opacity: 0;
        color: transparent;
        background-color: transparent;
        border-top: 0px dashed transparent;
    }
  100% {border-color: #fff;
        opacity: 1;
        color: #fff;
        background-color: #fff;
        border-top: 1px solid #fff;
    }
}

@-o-keyframes fadeInBorder {
  0% { border-color: transparent;
        opacity: 0;
        color: transparent;
        background-color: transparent;
        border-top: 0px dashed transparent;
    }
  100% {border-color: #fff;
        opacity: 1;
        color: #fff;
        background-color: #fff;
        border-top: 1px solid #fff;
    }
}

@-webkit-keyframes fadeInBorder {
  0% { border-color: transparent;
        opacity: 0;
        color: transparent;
        background-color: transparent;
        border-top: 0px dashed transparent;
    }
  100% {border-color: #fff;
        opacity: 1;
        color: #fff;
        background-color: #fff;
        border-top: 1px solid #fff;
    }
}

@-ms-keyframes fadeInBorder {
  0% { border-color: transparent;
        opacity: 0;
        color: transparent;
        background-color: transparent;
        border-top: 0px dashed transparent;
    }
  100% {border-color: #fff;
        opacity: 1;
        color: #fff;
        background-color: #fff;
        border-top: 1px solid #fff;
    }
}

  @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
  }

  @-moz-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
  }

  @-o-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
  }

  